<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Web Lab1</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mb-4">
        <h1>Lab 1</h1>
    </div>
    <div class="container mb-4" ng-controller="greeterController">
        <h4>Greeter</h4>
        <div>Hello, {{ name | upperCase }} (in upper case)</div>
        <div>Hello, {{ name | lowerCase }} (in lower case)</div>
        <div>
            <label>Enter name:</label>
            <input type="text" ng-model="name" placeholder="Enter name">
        </div>
    </div>

    <div class="container mb-4" ng-controller="counterController">
        <h4>Counter</h4>
        <div>Current value: {{ counter }}</div>
        <button class="btn btn-success" ng-click="incrementCounter()">Increment</button>
        &nbsp;
        <button class="btn btn-danger" ng-click="decrementCounter()">Decrement</button>
    </div>

    <div class="container mb-4" ng-controller="todoListController">
        <h4>Todo List</h4>
        <div>
            <label>Add todo:</label>
            &nbsp;
            <input type="text" ng-model="newTodoText" placeholder="Enter new todo">
            &nbsp;
            <button class="btn btn-primary" ng-click="addTodo(newTodoText)">Add</button>
            <todo-list source="todos"></todo-list>
        </div>
    </div>

    <!-- third-party scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

    <!-- custom modules -->
    <script src="js/app.js"></script>
    <script src="js/controllers/counterController.js"></script>
    <script src="js/controllers/greeterController.js"></script>
    <script src="js/controllers/todoListController.js"></script>
</body>
</html>
