<table class="table">
    <thead>
        <tr>
            <th>Text</th>
            <th>Created</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody ng-repeat="todo in todos">
        <tr>
            <td>{{ todo.text }}</td>
            <td>{{ todo.created | date:"dd/MM/yyyy 'at' h:mma" }}</td>
            <td>
                <button ng-click="removeTodo($index)" class="btn btn-danger" title="Delete">
                    Delete
                </button>
            </td>
        </tr>
    </tbody>
</table>
